*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.greetingCard{
  height: 200px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  gap: 20px;
}

.greetingCard .btns{
  height: 40px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.greetingCard input{
  height: 100%;
  text-align: center;
}

.greetingCard>.btns button{
  height: 100%;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 106, 255);
  color: white;
  width: 80px;
}

.counter{
  height: 300px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: azure;
}

#btn1{
  height: 40px;
  width: 80px;
  color: white;
  font-weight: 600;
  border: none;
  background-color: red;
  border-radius: 5px;
}
#btn2{
  height: 40px;
  width: 80px;
  color: white;
  background-color: rgb(0, 94, 255);
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
#btn3{
  height: 40px;
  width: 80px;
  background-color: green;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.counter .btns{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
